@keyframes sample-ani{
  0% {
    transform: translate(0,0);
    background: red;
  }
  50% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(200px, 300px);
  }

}

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10vw;
  height: 10vw;
  border: 2px solid #000;
  background: #fff000;
  animation: sample-ani 2s linear 3 forwards;
  /*alternate갔다오기 reverse끝에서시작 alternate-reverse forwards끝끝*/
}

.box:hover {
  /*animation: paused; 갈굼*/
  animation-play-state: paused;
}
