.box-container{
  display: flex;
}

.box {
  width: 5vw;
  height: 5vw;
  border: 2px solid black;
  background: rgba(255,212,78,.7);
}

.box:hover {
  /* transform: scale(1.2) rotate(15deg); */
  /* transform: skewY(30deg) */
  transform: translate(10px, 10px);
  transform-origin: left bottom;
}
/* CSS 중복있으면 맨 아래것만 남는다. */
